body{
	
	background-image: url(seccion1.jpg);	
	background-size: 100vw 100vh; 
	margin: 0;
	}


#logo
{
	width: 20%;
	border-radius: 10%;
	opacity:0.8;
}
h1
{
	text-align: center;
	color: #fff;
	font-size: 30px;
	background: rgba(255,215,0,0.70);

	font-family: Trebuchet MS;;
}
#gracias
{
	text-align: center;
	color: #fff;
	font-size: 50px;
	background: rgba(255,215,0,0.70);
	margin-top: 1px;
	font-family: Trebuchet MS;;
}